body{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;  
}

.header{
    background-color: #1f2937;
    margin:0;
    padding:0;
    color:#F9faf8;
    flex:1;
}

.header > .header-1{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right:100px;
    padding-bottom: 40px;
}

.header > h1{
    justify-content: center;
    align-items: center ;
    font-size: 24px;
}

ul.links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding:0;
    margin:0;
}

.links > a{
    color:#e5e7eb;
    font-size: 18px;
}

.header-2{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right:100px;
    padding-bottom:40px;
}

.header-2 > img{
    width: 500px ;
    height:300px;
    border: 3px solid #3882f6;
    border-radius: 25px;
    
}

.container-1 > h2{
    text-align: center;
}

.container-1 > .images{
    display:flex;
    justify-content: space-evenly;
    margin:10px auto;
    flex-wrap: wrap;
}

.container-1>.images>div>img{
    width: 200px ;
    height:auto;
    border: 3px solid #3882f6;
    border-radius: 25px;
    
}

.quote{
    text-align: center;
    background-color: #e5e7eb;
    font-style: italic;
}

.quote > p.quote-bold{
    font-weight:700;
    font-style: normal;
}

.button-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.button{
    background-color: #3882f6;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    padding:20px;
}

.footer{
    background-color: #e5e7eb;
    text-align: center;
}




